@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bem vindo a Minha Lista de Jogos Zerados</h1>
    <p> Objetivo desse site é registrar todos os jogos que eu zerei na minha vida, é meio louco pensar que alguém possa registrar algo tipo assim mas sendo sincero 
        eu me divertido e vejo por quantos jogos eu passei ao longo da minha vida. 
    </p>
    <h3>
        Um pouco sobre mim
    </h3>
    <p>
        Sou Desenvolvedor de Software em .Net utilizando C# e esse é um projeto simples que eu quero manter para aprender mais sobre a linguagem e ter o meu próprio site
        de games, eu gosto de jogar qualquer jogo em qualquer plataforma, sempre proucuro games diferentes de cada gênero possivel, recomendo ler a lista com calma, ainda
        colocarei um link para review e futuramente o site terá mais opções. 
    </p>
</div>
