@{
    ViewData["Title"] = "Dados da Tabela";
}
<h1>@ViewData["Title"]</h1>

<p>Uma exlicação rápida do que cada categoria siginifica.</p>
<p><b>Name</b>-Nome do Jogo</p>
<p><b>Time</b>-Tempo de Jogo</p>
<p><b>Owner</b>-Plataforma onde eu Joguei</p>
<p><b>Publisher</b>-Empresa que é dona da Plataforma</p>
<p><b>Level</b>-Nivel de dificuldade do Jogo</p>
<p><b>Genre</b>-Gênero do Jogo</p>
<p><b>YearFinish</b>-Ano de Finalização</p>
<p><b>Realase</b>-Ano de Lançamento</p>
<p><b>Score</b>-Minha nota pro Jogo</p>

